.listOfFamiliesContainer{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-start;
  flex-wrap: wrap;
}
.familyContainer{
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin: 25px 5px 25px 5px;
}
.FamilyView{
  border: 1px solid #d4d4d4;
  border-collapse: collapse;
}
.FamilyView > thead {
  border: 1px solid #d4d4d4;
  background-color: #34d7b6;
}
.FamilyView thead th{
  font-weight: 200;
}
.FamilyView th{
  padding: 7px;
  font-weight: 400;
}
.notSelected{
  background-color: #ff6666
}
.selectorContainer > svg{
  height: 25px;
  width: auto;
  margin-left: 15px;
  margin-top: 5px;
  cursor: pointer;
}
.selectedCheckbox {
  color: #34d7b6;
}
.notSelectedCheckbox{
  color: #ff6666;
}
.summaryButton{
  position: fixed;
  bottom: 25px;
  right: 25px;
}
.myButton {
	background-color:#34d7b6;
	border-radius:8px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:20px;
	font-weight:bold;
	padding:13px 32px;
	text-decoration:none;
  border:none;
}
.myButton:hover {
	background-color:#30ab90;
}
.myButton:focus {
  outline: none;
}
body {
  font-family: 'Source Sans Pro', sans-serif;
}
.App, body, #root, html{
  height: 100%;
}
.loading {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.noSelection {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}
